body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#game {
    display: grid;
    margin: 20px auto;
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #007BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    user-select: none;
}

.card.revealed {
    background-color: #28A745;
}

#score {
    margin-top: 20px;
}
